# EDA


- The os module has a perfect method to list files in a directory.
- Pandas json normalize could work here but is not necessary to convert the JSON data to a dataframe.
- You may need a nested for-loop to access each sale!
- We've put a lot of time into creating the structure of this repository, and it's a good example for future projects.  In the file functions_variables.py, there is an example function that you can import and use.  If you have any variables, functions or classes that you want to make, they can be put in the functions_variables.py file and imported into a notebook.  Note that only .py files can be imported into a notebook. If you want to import everything from a .py file, you can use the following:
```python
from functions_variables import *
```
If you just import functions_variables, then each object from the file will need to be prepended with "functions_variables"\
Using this .py file will keep your notebooks very organized and make it easier to reuse code between notebooks.

In [126]:
# (this is not an exhaustive list of libraries)
import pandas as pd
import numpy as np
import os
import json
from pprint import pprint
from modules.functions_variables import encode_tags

## Data Importing

In [2]:
# load one file first to see what type of data you're dealing with and what attributes it has

# Load data
AKJ0 = json.load(open(r'..\raw_data\AK_Juneau_0.json','r'))

In [70]:
# Explore json list dictionary keys
print(AKJ0.keys())
print(AKJ0['status'])
print(AKJ0['data'].keys())
print(len(AKJ0['data']['results']))
print(AKJ0['data']['results'][0].keys())

dict_keys(['status', 'data'])
200
dict_keys(['total', 'count', 'results'])
8
dict_keys(['primary_photo', 'last_update_date', 'source', 'tags', 'permalink', 'status', 'list_date', 'open_houses', 'description', 'branding', 'list_price', 'lead_attributes', 'property_id', 'photos', 'flags', 'community', 'products', 'virtual_tours', 'other_listings', 'listing_id', 'price_reduced_amount', 'location', 'matterport'])

In [ ]:
# List Dictonary of results
# [
#     {
#         "primary_photo": {
#             "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
#         },
#         'last_update_date": "2023-09-19T20:52:50Z",
#         "source": {
#             "plan_id": None,
#             "agents": [
#                 {"office_name": "EXP Realty LLC - Southeast Alaska"},
#                 {"office_name": "Non-Member Office"}
#             ],
#             "spec_id": None,
#             "type": "mls"
#         },
#         "tags": [
#             "carport", "community_outdoor_space", "cul_de_sac", "family_room",
#             "hardwood_floors", "hill_or_mountain_view", "recreation_facilities",
#             "rv_or_boat_parking", "basement", "garage_1_or_more", "two_or_more_stories",
#             "big_yard", "high_ceiling", "efficient", "trails", "shopping"
#         ],
#         "permalink": "9453-Herbert-Pl_Juneau_AK_99801_M90744-30767",
#         "status": "sold",
#         "list_date": "2023-06-29T21:16:25.000000Z",
#         "open_houses": None,
#         "description": {
#             "year_built": 1963,
#             "baths_3qtr": None,
#             "sold_date": "2023-09-18",
#             "sold_price": None,
#             "baths_full": 2,
#             "name": None,
#             "baths_half": None,
#             "lot_sqft": 10454,
#             "sqft": 1821,
#             "baths": 2,
#             "sub_type": None,
#             "baths_1qtr": None,
#             "garage": 1,
#             "stories": None,
#             "beds": 3,
#             "type": "single_family"
#         },
#         "branding": [
#             {
#                 "name": "EXP Realty LLC - Southeast Alaska",
#                 "photo": None,
#                 "type": "Office"
#             }
#         ],
#         "list_price": 554950,
#         "lead_attributes": {
#             "show_contact_an_agent": True
#         },
#         "property_id": "9074430767",
#         "photos": [
#             {
#                 "tags": [
#                     {"label": "house_view", "probability": 0.9931892156601},
#                     {"label": "road_view", "probability": 0.84215885400772},
#                     {"label": "house_view", "probability": 0.93829786777496}
#                 ],
#                 "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2867511255s-w1024_h768.jpg"
#             },
#             {
#                 "tags": [
#                     {"label": "living_room", "probability": 0.99856203794479}
#                 ],
#                 "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2021977128s-w1024_h768.jpg"
#             },
#             {
#                 "tags": [
#                     {"label": "dining_room", "probability": 0.99998116493225}
#                 ],
#                 "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2832281708s-w1024_h768.jpg"
#             },
#             {
#                 "tags": [
#                     {"label": "unknown", "probability": 0.91968685388565}
#                 ],
#                 "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m2250208436s-w1024_h768.jpg"
#             },
#             {
#                 "tags": [
#                     {"label": "kitchen", "probability": 0.99999892711639}
#                 ],
#                 "href": "https://ap.rdcpix.com/07097d34c98a59ebb799688986ef271dl-m4264543754s-w1024_h768.jpg"
#             }
#         ],
#         "flags": {
#             "is_new_construction": None,
#             "is_for_rent": None,
#             "is_subdivision": None,
#             "is_contingent": None,
#             "is_price_reduced": False,
#             "is_pending": None,
#             "is_foreclosure": None,
#             "is_plan": None,
#             "is_coming_soon": None,
#             "is_new_listing": False
#         },
#         "community": None,
#         "products": {
#             "brand_name": "basic_opt_in"
#         },
#         "virtual_tours": None,
#         "other_listings": {
#             "rdc": [
#                 {"listing_id": "2957241843", "listing_key": None, "status": "sold", "primary": True},
#                 {"listing_id": "2957022863", "listing_key": None, "status": "off_market", "primary": None}
#             ]
#         },
#         "listing_id": "2957241843",
#         "price_reduced_amount": 45000,
#         "location": {
#             "address": {
#                 "postal_code": "99801",
#                 "state": "Alaska",
#                 "coordinate": {"lon": -134.59372, "lat": 58.36395},
#                 "city": "Juneau",
#                 "state_code": "AK",
#                 "line": "9453 Herbert Pl"
#             },
#             "street_view_url": "https://maps.googleapis.com/maps/api/streetview?channel=rdc-streetview&client=gme-movesalesinc&location=9453%20Herbert%20Pl%2C%20Juneau%2C%20AK%2099801&size=640x480&source=outdoor&signature=OPv224SjFIJWgVKAXZKZXNYEdNQ=",
#             "county": {"fips_code": None, "name": "Juneau"}
#         },
#         "matterport": False
#     }
# ]

In [106]:
# Working with data drame for one file
from pandas import json_normalize
df = json_normalize(AKJ0['data']['results'])

In [120]:
print(f'There are {len(df.columns)} total keys in the AK_Juneau_0.json file\n')
print(df.columns)

There are 64 total keys

Index(['last_update_date', 'tags', 'permalink', 'status', 'list_date',
       'open_houses', 'branding', 'list_price', 'property_id', 'photos',
       'community', 'virtual_tours', 'listing_id', 'price_reduced_amount',
       'matterport', 'primary_photo.href', 'source.plan_id', 'source.agents',
       'source.spec_id', 'source.type', 'description.year_built',
       'description.baths_3qtr', 'description.sold_date',
       'description.sold_price', 'description.baths_full', 'description.name',
       'description.baths_half', 'description.lot_sqft', 'description.sqft',
       'description.baths', 'description.sub_type', 'description.baths_1qtr',
       'description.garage', 'description.stories', 'description.beds',
       'description.type', 'lead_attributes.show_contact_an_agent',
       'flags.is_new_construction', 'flags.is_for_rent',
       'flags.is_subdivision', 'flags.is_contingent', 'flags.is_price_reduced',
       'flags.is_pending', 'flags.is_foreclosure', 'flags.is_plan',
       'flags.is_coming_soon', 'flags.is_new_listing', 'products.brand_name',
       'other_listings.rdc', 'location.address.postal_code',
       'location.address.state', 'location.address.coordinate.lon',
       'location.address.coordinate.lat', 'location.address.city',
       'location.address.state_code', 'location.address.line',
       'location.street_view_url', 'location.county.fips_code',
       'location.county.name', 'primary_photo', 'source', 'products',
       'location.address.coordinate', 'other_listings'],
      dtype='object')

In [130]:
# Keys we decided to keep during group meeting. Keys only gathered from first file, maybe there are more keys in other files that we may want? Spot check a couple. 

def keep_keys():
    """
    Returns list of keys determined in group meeting to be kept for dataframe
    """
    keys = ['tags','status','list_date','open_houses','description.year_built',
              'description.baths_3qtr', 'description.sold_date',
              'description.sold_price', 'description.baths_full', 'description.name',
              'description.baths_half', 'description.lot_sqft', 'description.sqft',
              'description.baths', 'description.sub_type', 'description.baths_1qtr',
              'description.garage', 'description.stories', 'description.beds',
              'description.type','list_price','property_id','flags.is_new_construction', 
              'flags.is_for_rent', 'flags.is_subdivision', 'flags.is_contingent', 
              'flags.is_price_reduced', 'flags.is_pending', 'flags.is_foreclosure', 
              'flags.is_plan', 'flags.is_coming_soon', 'flags.is_new_listing',
              'listing_id','price_reduced_amount','location.address.postal_code',
              'location.address.state', 'location.address.coordinate.lon',
              'location.address.coordinate.lat', 'location.address.city',
              'location.address.state_code', 'location.address.line']
    
    return keys

In [131]:
# Defining functions, move to a py file?

def find_drop_keys(jsonColumns, keepKeys):
    """ 
    Find keys to drop from list of result columns in file
    Parameters:
        jsonColumns: List of columns in file results
        keepKeys: List of keys to be kept
    Returns a list of keys to be dropped from a file for data frame
    """
    dropKeys = []

    for keys in jsonColumns:
        if keys not in keepKeys:
            dropKeys.append(keys)

    return dropKeys


def parse_json_data(jsonResults, keepKeys):
    """ 
    Parses through provided LHL midterm project data file
    Parameters:
        jsonResults: List Dictionary of results from file
        dropKeys: List of keys to be dropped
    Returns a dataframe of preset column keys
    """
    df = json_normalize(jsonResults)

    dropKeys = find_drop_keys(df.columns, keepKeys)
    df.drop(columns=dropKeys,inplace=True)

    return df

In [147]:
# trialing functions
keepKeys = keep_keys()

df = parse_json_data(AKJ0['data']['results'],keepKeys)

df.head()

,tags,status,list_date,open_houses,list_price,property_id,listing_id,price_reduced_amount,description.year_built,description.baths_3qtr,...,flags.is_plan,flags.is_coming_soon,flags.is_new_listing,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line
0,"[carport, community_outdoor_space, cul_de_sac,...",sold,2023-06-29T21:16:25.000000Z,None,554950.0,9074430767,2957241843,45000.0,1963.0,None,...,None,None,False,99801,Alaska,-134.59372,58.36395,Juneau,AK,9453 Herbert Pl
1,None,sold,None,None,NaN,9424983842,None,NaN,NaN,None,...,None,None,None,99801,Alaska,NaN,NaN,Juneau,AK,8477 Thunder Mountain Rd
2,None,sold,None,None,NaN,9479068516,None,NaN,NaN,None,...,None,None,None,99801,Alaska,NaN,NaN,Juneau,AK,4515 Glacier Hwy
3,None,sold,None,None,NaN,9879331943,None,NaN,NaN,None,...,None,None,None,99801,Alaska,NaN,NaN,Juneau,AK,17850 Point Stephens Rd
4,None,sold,None,None,NaN,9521639574,None,NaN,NaN,None,...,None,None,None,99801,Alaska,NaN,NaN,Juneau,AK,9951 Stephen Richards Memorial Dr

In [ ]:
# loop over all files and put them into a dataframe

directory = r'..\raw_data'

keepKeys = keep_keys()
housingData = pd.DataFrame(columns=keepKeys)

for file in os.listdir(directory):
    if file != '.gitkeep':
        result = json.load(open(rf'{directory}\{file}'))

        df = parse_json_data(result['data']['results'],keepKeys)
        housingData = pd.concat([housingData,df],ignore_index=True)

In [188]:
housingData.head()

,tags,status,list_date,open_houses,description.year_built,description.baths_3qtr,description.sold_date,description.sold_price,description.baths_full,description.name,...,flags.is_new_listing,listing_id,price_reduced_amount,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line
0,"['carport', 'community_outdoor_space', 'cul_de...",sold,2023-06-29T21:16:25.000000Z,NaN,1963.0,NaN,2023-09-18,NaN,2.0,NaN,...,False,2.957242e+09,45000.0,99801.0,Alaska,-134.59372,58.36395,Juneau,AK,9453 Herbert Pl
1,NaN,sold,NaN,NaN,NaN,NaN,2023-08-22,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,8477 Thunder Mountain Rd
2,NaN,sold,NaN,NaN,NaN,NaN,2023-08-22,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,4515 Glacier Hwy
3,NaN,sold,NaN,NaN,NaN,NaN,2023-08-21,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,17850 Point Stephens Rd
4,NaN,sold,NaN,NaN,NaN,NaN,2023-08-21,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,9951 Stephen Richards Memorial Dr

In [181]:
housingData.to_csv('..\data\housingData.csv',index=False)

## Data Cleaning and Wrangling

At this point, ensure that you have all sales in a dataframe.
- Take a quick look at your data (i.e. `.info()`, `.describe()`) - what do you see?
- Is each cell one value, or do some cells have lists?
- What are the data types of each column?
- Some sales may not actually include the sale price (target).  These rows should be dropped.
- There are a lot of NA/None values.  Should these be dropped or replaced with something?
    - You can drop rows or use various methods to fills NA's - use your best judgement for each column 
    - i.e. for some columns (like Garage), NA probably just means no Garage, so 0
- Drop columns that aren't needed
    - Don't keep the list price because it will be too close to the sale price. Assume we want to predict the price of houses not yet listed

In [182]:
# load and concatenate data here
# drop or replace values as necessary
housingData = pd.read_csv('..\data\housingData.csv')

In [185]:
housingData.head()

,tags,status,list_date,open_houses,description.year_built,description.baths_3qtr,description.sold_date,description.sold_price,description.baths_full,description.name,...,flags.is_new_listing,listing_id,price_reduced_amount,location.address.postal_code,location.address.state,location.address.coordinate.lon,location.address.coordinate.lat,location.address.city,location.address.state_code,location.address.line
0,"['carport', 'community_outdoor_space', 'cul_de...",sold,2023-06-29T21:16:25.000000Z,NaN,1963.0,NaN,2023-09-18,NaN,2.0,NaN,...,False,2.957242e+09,45000.0,99801.0,Alaska,-134.59372,58.36395,Juneau,AK,9453 Herbert Pl
1,NaN,sold,NaN,NaN,NaN,NaN,2023-08-22,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,8477 Thunder Mountain Rd
2,NaN,sold,NaN,NaN,NaN,NaN,2023-08-22,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,4515 Glacier Hwy
3,NaN,sold,NaN,NaN,NaN,NaN,2023-08-21,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,17850 Point Stephens Rd
4,NaN,sold,NaN,NaN,NaN,NaN,2023-08-21,NaN,NaN,NaN,...,NaN,NaN,NaN,99801.0,Alaska,NaN,NaN,Juneau,AK,9951 Stephen Richards Memorial Dr

In [186]:
housingData.describe()

,open_houses,description.year_built,description.baths_3qtr,description.sold_price,description.baths_full,description.name,description.baths_half,description.lot_sqft,description.sqft,description.baths,...,flags.is_subdivision,flags.is_contingent,flags.is_pending,flags.is_plan,flags.is_coming_soon,listing_id,price_reduced_amount,location.address.postal_code,location.address.coordinate.lon,location.address.coordinate.lat
count,0.0,7316.000000,566.000000,6.716000e+03,7311.000000,0.0,2281.000000,6.991000e+03,7323.000000,7980.000000,...,0.0,0.0,0.0,0.0,0.0,7.752000e+03,2.484000e+03,8159.000000,7909.000000,7909.000000
mean,NaN,1968.916074,1.247350,4.126050e+05,1.887430,NaN,1.105655,2.510949e+05,1933.848559,2.131203,...,NaN,NaN,NaN,NaN,NaN,2.957819e+09,2.442704e+04,50946.997181,-92.206522,39.009689
std,NaN,35.096914,0.463482,6.994308e+05,0.862214,NaN,0.413340,5.823820e+06,1339.039206,1.175940,...,NaN,NaN,NaN,NaN,NaN,7.541620e+07,7.162396e+04,29257.110670,15.888886,4.374553
min,NaN,1828.000000,1.000000,3.080000e+02,1.000000,NaN,1.000000,0.000000e+00,120.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,6.052327e+08,1.000000e+02,2111.000000,-157.810583,21.277707
25%,NaN,1950.000000,1.000000,1.910000e+05,1.000000,NaN,1.000000,4.953000e+03,1258.000000,1.000000,...,NaN,NaN,NaN,NaN,NaN,2.959499e+09,6.000000e+03,25314.000000,-104.971611,35.688084
50%,NaN,1975.000000,1.000000,3.140000e+05,2.000000,NaN,1.000000,7.841000e+03,1635.000000,2.000000,...,NaN,NaN,NaN,NaN,NaN,2.960836e+09,1.010000e+04,50310.000000,-89.333131,39.698210
75%,NaN,1997.000000,1.000000,4.700000e+05,2.000000,NaN,1.000000,1.263200e+04,2264.000000,3.000000,...,NaN,NaN,NaN,NaN,NaN,2.961805e+09,2.000000e+04,78739.000000,-78.617690,41.832266
max,NaN,2024.000000,3.000000,2.706500e+07,8.000000,NaN,5.000000,1.676624e+08,32106.000000,9.000000,...,NaN,NaN,NaN,NaN,NaN,2.963230e+09,2.015999e+06,99801.000000,-71.006343,58.396178

In [187]:
housingData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8191 entries, 0 to 8190
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   tags                             7638 non-null   object
 1   status                           8159 non-null   object
 2   list_date                        7752 non-null   object
 3   open_houses                      0 non-null      float64
 4   description.year_built           7316 non-null   float64
 5   description.baths_3qtr           566 non-null    float64
 6   description.sold_date            8159 non-null   object
 7   description.sold_price           6716 non-null   float64
 8   description.baths_full           7311 non-null   float64
 9   description.name                 0 non-null      float64
 10  description.baths_half           2281 non-null   float64
 11  description.lot_sqft             6991 non-null   float64
 12  description.sqft                 7323 non-null   float64
 13  description.baths                7980 non-null   float64
 14  description.sub_type             1427 non-null   object
 15  description.baths_1qtr           0 non-null      float64
 16  description.garage               4448 non-null   float64
 17  description.stories              6260 non-null   float64
 18  description.beds                 7504 non-null   float64
 19  description.type                 8125 non-null   object
 20  list_price                       7721 non-null   float64
 21  property_id                      8159 non-null   float64
 22  flags.is_new_construction        0 non-null      float64
 23  flags.is_for_rent                0 non-null      float64
 24  flags.is_subdivision             0 non-null      float64
 25  flags.is_contingent              0 non-null      float64
 26  flags.is_price_reduced           2484 non-null   object
 27  flags.is_pending                 0 non-null      float64
 28  flags.is_foreclosure             42 non-null     object
 29  flags.is_plan                    0 non-null      float64
 30  flags.is_coming_soon             0 non-null      float64
 31  flags.is_new_listing             7752 non-null   object
 32  listing_id                       7752 non-null   float64
 33  price_reduced_amount             2484 non-null   float64
 34  location.address.postal_code     8159 non-null   float64
 35  location.address.state           8159 non-null   object
 36  location.address.coordinate.lon  7909 non-null   float64
 37  location.address.coordinate.lat  7909 non-null   float64
 38  location.address.city            8154 non-null   object
 39  location.address.state_code      8159 non-null   object
 40  location.address.line            8144 non-null   object
dtypes: float64(28), object(13)
memory usage: 2.6+ MB

### Dealing with Tags

Consider the fact that with tags, there are a lot of categorical variables.
- How many columns would we have if we OHE tags, city and state?
- Perhaps we can get rid of tags that have a low frequency.

In [ ]:
# OHE categorical variables/ tags here
# tags will have to be done manually

### Dealing with Cities

- Sales will vary drastically between cities and states.  Is there a way to keep information about which city it is without OHE?
- Could we label encode or ordinal encode?  Yes, but this may have undesirable effects, giving nominal data ordinal values.
- What we can do is use our training data to encode the mean sale price by city as a feature (a.k.a. Target Encoding)
    - We can do this as long as we ONLY use the training data - we're using the available data to give us a 'starting guess' of the price for each city, without needing to encode city explicitly
- If you replace cities or states with numerical values (like the mean price), make sure that the data is split so that we don't leak data into the training selection. This is a great time to train test split. Compute on the training data, and join these values to the test data
- Note that you *may* have cities in the test set that are not in the training set. You don't want these to be NA, so maybe you can fill them with the overall mean

In [ ]:
# perform train test split here
# do something with state and city

## Extra Data - STRETCH

> This doesn't need to be part of your Minimum Viable Product (MVP). We recommend you write a functional, basic pipeline first, then circle back and join new data if you have time

> If you do this, try to write your downstream steps in a way it will still work on a dataframe with different features!

- You're not limited to just using the data provided to you. Think/ do some research about other features that might be useful to predict housing prices. 
- Can you import and join this data? Make sure you do any necessary preprocessing and make sure it is joined correctly.
- Example suggestion: could mortgage interest rates in the year of the listing affect the price?

In [ ]:
# import, join and preprocess new data here

## EDA/ Visualization

Remember all of the EDA that you've been learning about?  Now is a perfect time for it!
- Look at distributions of numerical variables to see the shape of the data and detect outliers.    
    - Consider transforming very skewed variables
- Scatterplots of a numerical variable and the target go a long way to show correlations.
- A heatmap will help detect highly correlated features, and we don't want these.
    - You may have too many features to do this, in which case you can simply compute the most correlated feature-pairs and list them
- Is there any overlap in any of the features? (redundant information, like number of this or that room...)

In [ ]:
# perform EDA here

## Scaling and Finishing Up

Now is a great time to scale the data and save it once it's preprocessed.
- You can save it in your data folder, but you may want to make a new `processed/` subfolder to keep it organized